footer {
font-size: .7em;


  .octonumber {
    display: inline;
    color: #b4b5b3

  }

  ul {
    list-style: none;
    padding-left: 0;
    width: 50px;
  }

  cite a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-style: normal;
  }


}
