header {

background-color: $themeColor;
height: 40px;
font-size: 9px;
padding: 15px 10px 0 10px;
border-radius: 10px;

    h1 {
      display: inline;
      margin: 0;
      font-weight: 500;
    }

    span {
      font-weight: bold;;
    }

    nav {
      float: right;
    }


    nav ul li {
      font-size: 12px;
      list-style: none;
      display: inline;
      font-weight: bold;
      margin-left: 8px;


    }


    a {
      text-decoration: none;
      color: black;

    }


}
