.octocat {
    border-bottom: 2px solid $themeColor;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 10px;




  a img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid $themeColor;
    box-sizing: border-box;
    margin-bottom: 5px;

  }

}
